<!DOCTYPE html>
<html lang="en" ng-app="map">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Map</title>

    <!-- Bootstrap -->
    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!--Angular and Google Maps-->

    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/lodash/dist/lodash.min.js"></script>
    <script src="libs/bluebird/js/browser/bluebird.js"></script>
    <script src="libs/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="libs/ngAutocomplete/src/ngAutocomplete.js"></script>

    <script src="js/map.js"></script>
</head>

<body ng-controller="mapController">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="panel panel-success full-height">
                    <div class="panel-heading">Building</div>
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Building Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="buildingName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Number of Floors</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="numberFloors">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Floor to Floor Height</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="floorHeight">
                            </div>
                        </div>
                        <h4>Building Footprint Type</h4>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="buildingShape" value="rectangle">Rectangle
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="buildingShape" value="lShape">L Shape
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="buildingShape" value="tShape">T Shape
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="buildingShape" value="uShape">U Shape
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="buildingShape" value="hShape">H Shape
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="buildingShape" value="crossShape">Cross Shape
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="buildingShape" value="trapezoid">Trapezoid
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="buildingShape" value="triangle">Triangle
                            </label>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <button ng-click="lockPolygon()" class="btn btn-warning">Lock Polygon</button>
                        <button ng-click="build3D(buildingShape)" class="btn btn-warning">Build 3D</button>
                        <button ng-click="buildAllBuildings()" class="btn btn-warning">Build All Buildings</button>
                    </div>

                </div>
            </div>
            <div class="col-md-6 ">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events">

                    <ui-gmap-polygon ng-repeat="polygon in polygons" path='polygon.path' stroke="polygon.stroke" visible="polygon.visible" editable="polygon.editable" draggable="polygon.draggable" static="polygon.static"></ui-gmap-polygon>
                </ui-gmap-google-map>
                <div class="spacer">&nbsp;</div>
                <div class="panel panel-default half-height">
                    <div class="panel-heading">Building List</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>id#</td>
                                    <td>Building Name</td>
                                    <td>Building Shape</td>

                                    <td>Building Height</td>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="building in polygons">
                                    <td>{{building.id}}</td>
                                    <td>{{building.name}}</td>
                                    <td>{{building.buildingShape}}</td>

                                    <td>{{building.buildingHeight}} m</td>

                                    <td>
                                        <button class="btn" ng-click="removeBuilding(building)">Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
